<div class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="row">
        <div class="col-md-2">
          <h3><span class="white">LaunchVotes</span></h3>
        </div>
        <div class="col-md-8 powered">
          <h4>Powered by <a href="http://www.launchacademy.com/">LaunchAcademy</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
