<div class="intro-container center">
  <div class="col-md-12"><h1 class="title center"><span class="asphalt">Allow us to introduce ourselves</span></h1></div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <img src="https://s3.amazonaws.com/Launchers/Omid-Bachari.jpg" class="prof-pic">
      <h4 class="name">Omid Bachari</h4>
      <h4><a href="https://github.com/omidbachari"><span class="pink">GitHub</span></a></h4>
      <h4><a href="https://www.linkedin.com/in/omidbachari"><span class="linkedin">LinkedIn</span></a></h4>
    </div>
    <div class="col-md-5">
      <img src="https://s3.amazonaws.com/Launchers/Alex-Morgan.jpg" class="prof-pic">
      <h4 class="name">Alex Morgan</h4>
      <h4><a href="https://github.com/AlexMorgan"><span class="pink">GitHub</span></a></h4>
      <h4><a href="https://www.linkedin.com/in/alexrmorgan"><span class="linkedin">LinkedIn</span></a></h4>
    </div>
  </div>
</div>
