<div class="jumbotron visible-lg">
  <div class="container jumbo-content">
    <div class="col-md-12 center">
      <h1 class="welcome">Welcome to LaunchVotes</h1>
      <h1 class="description">For Weekly Nominations</h1>
      <div class="col-md-6 col-md-offset-3">
        <div class="center">
          <button onclick="/auth/github" class="login-button roboto-sm"><a href="/auth/github" class="white"><span>Login with GitHub</span></a></button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="form-container hidden-lg">
    <div class="col-md-6 col-md-offset-3">
      <div class="form">
      <div>
        <h1 class="center">Login to LaunchAwards with GitHub:</h1>
      </div>
      <div class="center">
        <button onclick="/auth/github" class="button roboto-sm"><a href="/auth/github"><span class="blk">Login</span></a></button>
      </div>
      </div>
    </div>
  </div>



  <div class="information-container">
    <div class="about-container">
      <div class="col-md-12"><h1 class="title center"><span class="asphalt">About</span></h1></div>
      <div class="col-md-12"><h1 class="about center justify">LaunchVotes started as an innovative idea to promote the social and lighthearted environment here at LaunchAcademy. We hope to create a platform for fellow Launchers to nominate each other for all the strange and funny things that occur during the week.</h1></div>
    </div>
    <div class="intro-container center">
      <div class="col-md-12"><h1 class="title center"><span class="asphalt">Allow us to introduce ourselves</span></h1></div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <img src="https://s3.amazonaws.com/Launchers/Omid-Bachari.jpg" class="prof-pic">
          <h4 class="name">Omid Bachari</h4>
          <h4><a href="https://github.com/omidbachari"><span class="pink">GitHub</span></a></h4>
          <h4><a href="https://www.linkedin.com/in/omidbachari"><span class="linkedin">LinkedIn</span></a></h4>
        </div>
        <div class="col-md-5">
            <img src="https://s3.amazonaws.com/Launchers/Alex-Morgan.jpg" class="prof-pic">
            <h4 class="name">Alex Morgan</h4>
            <h4><a href="https://github.com/AlexMorgan"><span class="pink">GitHub</span></a></h4>
            <h4><a href="https://www.linkedin.com/in/alexrmorgan"><span class="linkedin">LinkedIn</span></a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
