<div class="container">

  <%= erb :nominate %>

  <div class="awards-container">
    <div class="col-md-12"><h1 class="title center">Nominations</h1></div>
    <div class="row nomination-line">
      <% if @nominations.empty? %>
        <div class="col-md-8 col-md-offset-4"><h1 class="make-nom">Make the first nomination!</h1></div>
      <% else %>
        <% @nominations.each do |award| %>
          <%= erb :award, locals: { award: award } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
