<div class="container">
  <%= erb :nominations %>

  <div class="awards-container">
    <div class="col-md-12"><h1 class="title center">Nominations</h1></div>
    <div class="row nomination-line">
      <% if !@get_award_info %>
        <div class="col-md-8 col-md-offset-4"><h1 class="make-nom">Make the first nomination!</h1></div>
      <% else %>
        <%= erb :award %>
      <% end %>
    </div>
  </div>
</div>
