html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #EEEEEE;
  padding-bottom: 50px;
}

/*------------------ Header -------------------*/

.roboto-sm {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  height: 100px;
  background: #34495e;
  border-bottom: 5px solid #2c3e50;
  color: white;
  margin-top: -20px;
}

a,
a:hover {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.nav {
  padding: 15px 0px 15px 50px;
}

.logo {
  height: 50px;
}

.nav-links {
  padding-top: 35px;
}

.nav-links a {
  color: white;
  font-weight: 100;
}

/*------------------ Jumbotron -------------------*/
.jumbotron {
  background: white;
  background-image: url('../assets/launch1.png');
  background-position: center;
  border-bottom: 3px solid #ed197b;
}

.jumbo-content {
  padding-top: 225px;
  padding-bottom: 225px;
}

.jumbotron h1 {
  color: black;
}

/*------------------ Form -------------------*/
.form-container {
  margin-top: 100px;
}

.form label,
.form h1 {
  font-weight: 100;
}

.form form {
  text-align: center;
}

.form {
  width: 100%;
  height: auto;
  background: #ed197b;
  border-bottom: 5px solid #d60c67;
  color: white;
  margin-top: -20px;
  padding: 10px 30px 30px 30px;
}

.center {
  text-align: center;
  margin-bottom: 30px;
}

.btn-submit {
  background: white;
  border-radius: 5px;
  border: 1px solid white;
}

form select,
form input[type=text] {
  width: 50%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #34495e;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  resize: none;
  text-align: center;
}

::-webkit-input-placeholder {
   color: #34495e;
}

:-moz-placeholder { /* Firefox 18- */
   color: #34495e;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #34495e;
}

:-ms-input-placeholder {
   color: #34495e;
}

/*------------------ Award Nominations -------------------*/
.make-nom {
  font-weight: 100;
}

.award {
  width: 100%;
  height: 400px;
  background: #34495e;
  border-bottom: 5px solid #2c3e50;
  color: white;
  padding-top: 40px;
  text-align: center;
  margin-bottom: 50px;
  /*z-index: -1;*/
}

.prof-pic {
  border-radius: 150px;
  border: 3px solid white;
  height: 200px;
  width: 200px;
}

.launcher-name {
  color:#ed197b;
  font-weight: 100;
}

.title {
  font-size: 5em;
  margin-top: 100px;
  font-weight: 100;
}

.award-title {
  font-weight: 100;
}

.ribbon {
  height: 75px;
}

.over{
  margin-top: -44px;
  z-index: 1;
  position: relative;
  margin-left: -65%;
}

.top {
  margin-top: -63px;
  z-index: 2;
  position: relative;
  margin-left: -65%;
}

.under {
  margin-top: -20px;
  z-index: -1;
}

.votes {
  font-size: 1.25em;
}

.votes form input[type=submit] {
  background: #ed197b;
  color: white;
  border: none;
  border-radius: 150px;
}
